html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  background:skyblue;
}

.main_wrapper {
	width: 1000px;
	height: auto;
	margin:auto;
}

.header{
	width: 100px;
	height: 150px;
	margin: auto;
	display: inline;
	}

.menu{
	width: 1000px;
	height: 50px;
	background: grey;
	color: white;
}

#menu {
	padding: 0;
	margin: 0;
	line-height: 45px;
	float:left;
}

#menu li{
	list-style: none;
	display: inline;
}

#menu a{
	text-decoration: none;
	color: white;
	padding: 8px;
	margin: 5px;
	font-size: 20px;
}

#menu a:hover{
	color:orange;
	text-decoration: underline;
}

#search_form{
	padding: 0;
	margin: 0;
	line-height: 45px;
	float:right;
	padding-right: 15px;
}

.content_wrapper {
	width: 1000px;
	height:auto;
	margin: auto;
	background: white;
}

#content_area {
	width: 800px;
	height: auto;
	float: right;
	background: white;
}

#sidebar {
	width: 200px;
	height: auto;
	float: left;
	background:black;
}

#sidebar_title{
	background: white;
	color: black;
	font-size: 22px;
	padding: 10px;
}

#categories_list{
	padding: 0;
	margin: 0;
	text-align: center;
}

#categories_list li{
	list-style: none;
	display: block;
}

#categories_list a{
	color: white;
	padding: 8px;
	margin: 10px;
	font-size: 18px;
	text-decoration: none;
}

#categories_list a:hover{
	color: orange;
	text-decoration: underline;
}

#footer {
	width: 1000px;
	height: 100px;
	background: grey;
	clear:both;
}
